.registration-chart {
<<<<<<< HEAD
    width: 50%;
=======
    width: 80%;
>>>>>>> 48ae4a4a845d0b96f69b7f0811822e0628f41938
    margin: 0 auto;
    text-align: center;
  }
  
  .registration-chart h1 {
    margin-bottom: 20px;
  }