.ticket-container {
    padding: 2rem;
    max-width: 1000px;
    margin: auto;
    background-color: #f9f9f9;
  }
  
  .ticket-container h2 {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 2rem;
    color: #333;
  }
  
  .ticket-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
  }
  
  .ticket-card h3 {
    color: #333;
    margin-bottom: 15px;
  }
  
  .ticket-card p {
    margin-bottom: 10px;
    color: #666;
  }
  
  .ticket-event-image {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-top: 1rem;
  }
  
  .qr-code-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 8px;
  }

.ticket-card strong {
    font-weight: bold;
}

